@model System.Collections.Generic.List<TheEye.Entities.Concrete.CarPark>

@{
    ViewBag.Title = "title";
    Layout = "AdminSite/_AdminLayout";
}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="forms-main">
                <h3 class="inner-tittle two">Otopark Listesi </h3>
                <div class="graph">
                    <div class="tables">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    @*<th>Otopark Adı</th>
                                    <th>Otopark Telefon Numarası</th>
                                    <th>Otopark Mail Adresi</th>
                                    <th>Şehir</th>
                                    <th>Bölge</th>
                                    <th>Kapanış Saati</th>
                                    <th>Otopark Adresi</th>*@
                                    <th>Otopark Kapasitesi</th>
                                    <th>Otopark Kat Sayisi</th>
                                    <th>Otopark Yıkama Alanı Bulundurma</th>
                                    <th>Otopark Engelli Alanı Bulundurma</th>
                                    <th>Otopark Tekerlek Bulundurma</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row">@item.CarParkId</th>
                                        @*<td>@item.Company.CompanyName</td>
                                        <td>@item.Company.CompanyPhone</td>
                                        <td>@item.Company.CompanyMail</td>
                                        <td>@item.Company.CompanyCity</td>
                                        <td>@item.Company.CompanyDistrict</td>
                                        <td>@item.Company.CompanyTime</td>
                                        <td>@item.Company.CompanyAdress</td>*@
                                        <td>@item.CarParkMax</td>
                                        <td>@item.CarParkFloor</td>
                                        <td>@item.CarParkWashing</td>
                                        <td>@item.CarParkDisabled</td>
                                        <td>@item.CarParkTire</td>
                                        <td>
                                            <a class="btn btn-success" asp-controller="CarPark" asp-action="AddCarpark" asp-route-id="@item.CarParkId">Güncelle</a>
                                        </td>
                                        <td>
                                            <a class="btn btn-danger" asp-controller="CarPark" asp-action="DeleteCarPark" asp-route-id="@item.CarParkId">Sil</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>