@model List<TheEye.Entities.Concrete.PetrolStation>
@{
    ViewBag.Title = "Petrol Ofisleri";
}
@await Html.PartialAsync("MainSite/_Banner")
<div class="container">
        <br />
        <div class="input-group mb-3">
            <input id="input-text" type="text" class="form-control" placeholder="Arama Yap..." aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        @foreach (var item in Model)
        {
            <div class="card mb-3" style="max-width: 1540px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="https://images.unsplash.com/photo-1488672219853-a0281f9ac59d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1952&q=80"
                             class="card-img"
                             height="100%"
                             alt="" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">@item.Company.CompanyName</h5>
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col">Bulunan Akaryakıt Türleri</th>
                                                <th scope="col">Market</th>
                                                <th scope="col">Araç Yıkama</th>
                                                <th scope="col">Araç Lastik Bakımı</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@item.PetrolFuelType</td>

                                                @if (item.PetrolMarkets)
                                                {
                                                    <td>Var</td>
                                                }
                                                else
                                                {
                                                    <td>Yok</td>
                                                }
                                                @if (item.PetrolWashing)
                                                {
                                                    <td>Var</td>
                                                }
                                                else
                                                {
                                                    <td>Yok</td>
                                                }
                                                @if (item.PetrolTire)
                                                {
                                                    <td>Var</td>
                                                }
                                                else
                                                {
                                                    <td>Yok</td>
                                                }

                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            @*<p class="card-text">
                                <small class="text-muted">Last updated 3 mins ago</small>
                            </p>
                            <button type="button" class="btn btn-primary btn-sm">
                                Petrol İstasyonu Detayı
                            </button>*@
                            <br />
                            <br />
                        </div>
                    </div>
                </div>
                <div class="container">
                    <p>
                        <br />
                        <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                            Petrol Ofisi Detaylarını Getir
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">İl</th>
                                            <th scope="col">İlçe</th>
                                            <th scope="col">Adres</th>
                                            <th scope="col">Telefon</th>
                                            <th scope="col">E-mail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@item.Company.CompanyCity</td>
                                            <td>@item.Company.CompanyDistrict</td>
                                            <td>@item.Company.CompanyAdress</td>
                                            <td>@item.Company.CompanyPhone</td>
                                            <td>@item.Company.CompanyMail</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>