@model List<TheEye.Entities.Concrete.Medicine>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> İlaç Güncelleme </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                <th>İlaç Adı</th>
                                <th>İlaç Parçası</th>
                                <th>İlaç Tipi</th>
                                <th>İlaç Reçetesi</th>
                                </thead>
                                @foreach (var item in Model)
                                {
                                    <tbody>
                                        <tr>
                                            <td>@item.MedicineName</td>
                                            <td>@item.MedicinePiece</td>
                                            <td>@item.MedicineType</td>
                                            <td>@item.MedicinePrescription</td>
                                            <td><a asp-controller="Pharmacy" asp-action="PharmacyOparation" asp-route-id="@item.MedicineId" class="btn btn-success"> Güncelle </a></td>

                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ilaç listeden sil  -->
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title"> İlaç Silme </h4>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                <th>İlaç Adı</th>
                                <th>İlaç Parçası</th>
                                <th>İlaç Tipi</th>
                                <th>İlaç Reçetesi</th>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tbody>
                                        <tr>
                                            <td>@item.MedicineName</td>
                                            <td>@item.MedicinePiece</td>
                                            <td>@item.MedicineType</td>
                                            <td>@item.MedicinePrescription</td>
                                            <td><a asp-controller="Pharmacy" asp-action="DeletePharmacy" asp-route-id="@item.MedicineId" class="btn btn-success"> Güncelle </a></td>

                                        </tr>
                                    </tbody>
                                }
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

