@model List<TheEye.Entities.Concrete.Company>
@{
    ViewBag.Title = "Eczane Listesi";
}

@await Html.PartialAsync("MainSite/_Banner")
<div class="container">
    <br />
    <div class="input-group mb-3">
        <input id="input-text" type="text" class="form-control" placeholder="Arama Yap..." aria-label="Recipient's username" aria-describedby="button-addon2">
    </div>
    @foreach (var item in Model)
    {
        <div class="card mb-3" style="max-width: 1540px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="~/images/Pharmacist.jpg"
                         class="card-img"
                         height="100%"
                         alt="..." />
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">@item.CompanyName</h5>
                        <div class="col-md-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th scope="col">İl</th>
                                            <th scope="col">İlçe</th>
                                            <th scope="col">Telefon</th>
                                            <th scope="col">E-mail</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@item.CompanyCity</td>
                                            <td>@item.CompanyDistrict</td>
                                            <td>@item.CompanyPhone</td>
                                            <td>@item.CompanyMail</td>
                                        </tr>
                                    </tbody>
                                    <thead>
                                    <tr>
                                        <th>Adres</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>@item.CompanyAdress</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

