@{
    ViewBag.Title = "İlaç Listesi";
    Layout = "AdminSite/_AdminLayout";
}

<div class="card-header">
    <h4 class="card-title"> İlaç Güncelleme </h4>
</div>
<div class="card-body">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead class="text-primary">
                <tr>
                    <th>İlaç Adı</th>
                    <th>İlaç Parçası</th>
                    <th>İlaç Tipi</th>
                    <th>İlaç Reçetesi</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.MedicineName</td>
                        <td>@item.MedicinePiece</td>
                        <td>@item.MedicineType</td>
                        <td>@item.MedicinePrescription</td>
                        <td><a asp-controller="Medicine" asp-action="MedicineOparation" asp-route-id="@item.MedicineId" class="btn btn-success"> Güncelle </a></td>
                        <td><a asp-controller="Medicine" asp-action="MedicineDelete" asp-route-id="@item.MedicineId" class="btn btn-danger"> Sil </a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>